#search-options-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

#main-page-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#form-elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#search-input-container,
#quantity-input-container,
#buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-input {
  width: 100%;
}

#search-input-container label {
  padding: 0;
}

#quantity-input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}